{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}
{% if entry.type().handle != 'news' %}
    {% set seomaticMeta = seomaticMeta | merge({'robots': 'none'}) %}
{% endif %}

{% extends "layouts/_default.twig" %}



{##}
{# todo: maybe also usable as base for the default content detail page? #}
{##}
{##}

{% block content %}
    <section class="c-content">
        <article class="c-news-item">
            <h1 class="c-news-item__heading">{{ entry.title }}</h1>
            <time class="c-news-item__detailed-date" datetime="{{ entry.postDate.iso8601 }}">
                <strong>{{ entry.postDate | date("F d, Y") }} | {{ entry.author.fullName }}</strong></time>


            {# todo: implement responsive images #}
            <img src="{{ entry.focussedImage.first().url('bigNewsAsset') }}" class="c-news-item__image c-image--border"
                 alt="{{ entry.title }}">

            {{ entry.body }}

            {% if entry.type().handle != 'news' %}
                <a href="{{ entry.urlLink }}" target="_blank"
                   class="c-btn c-btn--dark c-btn--external c-btn--no-margin">Read the full article
                    on {{ craft.vzUrl.parse(entry.urlLink).host }}</a>
            {% endif %}

        </article>

        {% if entry.video %}
            <div class="o-layout__row t-gray-bg">
                <div class="o-layout__item u-1/1 u-text-center">
                    {% for video in entry.video %}
                    {% set embed = craft.embeddedAssets.fromAsset(video) %}
                    {% if embed %}
                        {% set video = craft.embedder.url(embed.url, {max_width:1000, max_height:720}) %}
                        {{ video.embed_code }}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        {% endif %}

        {# Optional for extra (external links) #}

        {% include 'snippets/relations.twig' ignore missing %}


    </section>

{% endblock %}
