{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "layouts/_default" %}
{% import "snippets/carrousel.twig" as carrousel %}
{% import "snippets/pagination.twig" as paginator %}

{% block content %}

    {% set entryCarrousel = craft.entries({
    section: "carrousels", search: "label:/" ~ craft.request.getPath()
    }).first() %}

    {{ carrousel.addCarrousel(entryCarrousel, 'c-intro u-text-center') }}

    <section class="c-content">
        {% paginate craft.entries.section('news').limit(general.itemsPerPage) as newsInfo, newsEntries %}
        {% for newsItem in newsEntries %}
            <article class="c-news-item">
                <div class="o-layout__row o-layout__row--no-wrap">
                    <div class="o-layout--item u-1/3 u-1/1@xs u-relative-position">
                        <img src="{{ newsItem.focussedImage.first().url('bigNewsAsset') }}"
                             class="c-news-item__image c-image--border" alt="{{ newsItem.title }}">
                        <time class="c-news-item__date" datetime="{{ newsItem.postDate.iso8601 }}">
                            <span class="c-news-item__day">{{ newsItem.postDate.day  }}</span>
                            <span class="c-news-item__month">{{ newsItem.postDate | date("M") }}</span>
                        </time>
                    </div>
                    <div class="o-layout--item u-2/3 u-1/1@xs">
                        <div class="c-news-item__intro">
                            <h2 class="c-news-item__heading">{{ newsItem.title }}</h2>
                            <p>{{ newsItem.shortDescription }}</p>
                            {% if newsItem.type().handle == 'news' %}
                                <a href="{{ newsItem.url() }}" class="c-btn c-btn--hollow-dark c-btn--no-margin">Read more</a>
                            {% else %}
                                <a href="{{ newsItem.urlLink }}" target="_blank" class="c-btn c-btn--dark c-btn--external c-btn--no-margin">Read the full article on {{ craft.vzUrl.parse(newsItem.urlLink).host }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </article>
        {% endfor %}
    </section>
    {{ paginator.paginator(newsInfo) }}
{% endblock %}
