<div class="o-layout o-layout__row u-text-center">
    <div class="c-img-background o-layout__item o-layout__item--no-padding u-1/2 u-1/1@sm">
        {# todo: implement responsive images with art direction for different screen sizes #}
        <img src="{{ entry.headerImage.first().url() }}" alt="{{ entry.heading }}" class="c-img-background__image">
    </div>
    <div class="o-layout__item o-layout__item--flex-center o-layout__item--no-padding u-1/2 u-1/1@sm u-background--blue">
        <div class="o-colorered-block">
            <h3>{{ entry.heading }}</h3>
            {{ entry.body }}
            <div class="o-layout__row">
                {% for button in entry.buttons %}
                    <div class="o-layout__item o-layout__item--no-padding u-1/2 u-1/1@sm">
                        <a href="{{ button.customTarget }}" class="no-barba c-btn {{ button.design }}">{{ button.label }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>