<div class="o-layout__section-intro">
    <h2 class="c-heading-title">{{ entry.industriesTitle }}</h2>
    <p class="c-heading-text">{{ entry.industriesDescription }}</p>
</div>

<ul class="c-industries o-layout__row">
    {%- set industriesParams = { section: 'industries' } -%}
    {%- set displayParameters = { limit: 7, showLink: true} -%}
    {%- set totalIndustries = craft.entries(industriesParams).total() -%}

    {%- if(totalIndustries > 4 and totalIndustries < 8) -%}
        {%- set displayParameters = { limit: 3, showLink: true} -%}
    {%- elseif(totalIndustries == 4) -%}
        {%- set displayParameters = { limit: 4, showLink: false} -%}
    {%- elseif(totalIndustries == 8) -%}
        {%- set displayParameters = { limit: 8, showLink: false} -%}
    {%- endif -%}
    {% set industryParameters = industryParametersOverride | default(displayParameters) %}
    {%- if showAllIndustries is defined and showAllIndustries == true -%}
        {%- set displayParameters = { limit: 99999, showLink: false} -%}
    {%- endif -%}
    {% for industry in craft.entries(industriesParams|merge({limit: displayParameters.limit})) %}
        <li class="c-industry o-layout__item o-layout__item--no-padding u-1/4 u-1/2@sm">
            <div class="c-industry__link">
                <a href="{{ industry.url() }}">
                    <div class="c-industry__image">
                        {{ craft.inlin.er(industry.setIcon.first().url(), true) | raw }}
                    </div>
                    <h4 class="c-industry__title c-small-thin-heading">{{ industry.title }}</h4>
                    <p class="c-industry__description u-hidden@sm">{{ industry.shortDescription }}</p>
                </a>
            </div>
        </li>
    {% endfor %}
    {%- if displayParameters.showLink == true -%}
        {%- set threeDots = entry.setIcon.first() -%}
        <li class="c-industry o-layout__item o-layout__item--no-padding u-1/4 u-1/2@sm">
            <div class="c-industry__link">
                <a href="/industries">
                    <div class="c-industry__image">
                        {{ craft.inlin.er(threeDots.url(), true) | raw }}
                    </div>
                    <h4 class="c-industry__title c-small-thin-heading">{{ entry.moreIndustriesTitle }}</h4>
                    <p class="c-industry__description u-hidden@sm">{{ entry.moreIndustriesDescription }}</p>
                </a>
            </div>
        </li>
    {% endif %}
</ul>