<div id="solutions" class="c-solutions o-layout__row ">
    {%- set solutionLimit = solutionLimit|default(4) -%}
    {% for solution in entry.selectSolutions.limit(solutionLimit) %}
        <div class="c-solutions__solution o-layout__item u-1/4 u-1/2@sm">
            <a href="{{ solution.url }}">
                <div class="c-solutions__image">
                    {{ craft.inlin.er(solution.setIcon.first().url(), true) | raw }}
                </div>
                <h4 class="c-small-thin-heading">{{ solution.title }}</h4>
                <p class=" u-hidden@sm">{{ solution.shortDescription }}</p>
            </a>
        </div>
    {% endfor %}
</div>