<div class="o-layout__row o-layout__row--border o-layout__row--extra-padding u-swap@small">
    <div class="o-layout__item u-1/1 u-text-center@sm {{ block.alignment }}">
        {% if block.heading %}<h3 class="c-small-thin-heading">{{ block.heading }}</h3>{% endif %}
        {% if block.shortDescription %}<p>{{ block.shortDescription }}</p>{% endif %}
        {% if block.children is not empty %}
            <ul class="c-icon-list-feature">
                {% for child in block.children %}
                    <li>
                        <div class="c-icon-list__icon-feature">
                            {{ craft.inlin.er(child.setIcon.first().url(), true) | raw }}
                        </div>
                        <div class="c-icon-list__container-feature">
                            <h4 class="c-icon-list__heading-feature">{{ child.heading }}</h4>
                            <p class="c-icon-list__description u-hidden@sm">{{ child.shortDescription }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>