{% if block.focussedImage | length %}
    <div class="o-layout__row t-gray-bg">
        <div class="o-layout__item u-2/3 u-text-center">
            {% include "snippets/neo/paragraph/heading" %}
            {% for image in block.focussedImage %}
                {% if image %}
                    <div class="o-layout__item u-2/3 u-1/1@sm u-text-center">
                        <img src="{{ image.url('halfWidth') }}" class="c-image--border"
                             alt="{{ block.heading | default(entry.title) }}">
                    </div>
                {% endif %}
            {% endfor %}
            <p>{{ block.label }}</p>
        </div>
    </div>
{% endif %}