<div class="o-layout__row o-layout__row--border o-layout__row--extra-padding u-swap@small">
    {%- set blockImage = block.focussedImage.first()  -%}
    {%- set columnClass = blockImage ? "u-2/3" : "u-1/1" -%}
    {% if blockImage and block.imagePosition == 'left' %}
        {% include "snippets/neo/paragraph/image" %}
    {% endif %}
    <div class="o-layout__item {{ columnClass }} u-1/1@sm u-text-center@sm">
        {% include "snippets/neo/paragraph/heading" %}
        {% include "snippets/neo/paragraph/paragraph" %}
        {% include "snippets/neo/paragraph/link" %}
    </div>
    {% if blockImage and block.imagePosition == 'right' %}
        {% include "snippets/neo/paragraph/image" %}
    {% endif %}
</div>