{% if block.video | length %}
    <div class="o-layout__row t-gray-bg">
        <div class="o-layout__item u-1/1 u-text-center">
            {% include "snippets/neo/paragraph/heading" %}
            {% for video in block.video %}
                {% set embed = craft.embeddedAssets.fromAsset(video) %}
                {% if embed %}
                    {% set video = craft.embedder.url(embed.url, {max_width:1000, max_height:720}) %}
                    <div class="c-videoWrapper-outer">
                        <div class="c-videoWrapper">
                            {{ video.embed_code }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <p>{{ block.label }}</p>
        </div>
    </div>
{% endif %}