{% import "_includes/forms" as forms %}

{{ forms.lightswitchField({
    id: 'inProduction',
    name: 'inProduction',
    label: 'Production mode'|t,
    on: settings.inProduction,
    instructions: 'Set website into production mode and load optimised assets.'|t
}) }}