{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: "Label" | t,
    instructions: 'Choose what you want this menu item to be called' | t,
    id: 'currLabel',
    name: 'currLabel',
    required: true,
    autofocus: true,
    value: nav.currLabel,
}) }}

{% set prevUrl = (nav.prevUrl) ? nav.prevUrl : nav.url %}

{{ forms.textField({
    label: "URL" | t,
    instructions: 'Choose the URL this menu points to.' | t,
    id: 'url',
    name: 'url',
    required: true,
    autofocus: true,
    value: nav.url,
    disabled: not nav.manualNav,
    class: (nav.manualNav) ? '' : 'disabled',
}) }}

{% if not nav.manualNav %}
    <input type="hidden" name="url" value="{{ nav.url }}" style="display: none;" />
{% endif %}

{% if nav.manualNav %}
    {{ forms.lightswitchField({
        label: "New window" | t,
        instructions: 'Whether to open this page in a new window.' | t,
        name: 'newWindow',
        on: nav.newWindow,
    }) }}
{% endif %}

{% set elements = (elements is defined ? elements : []) -%}

{{ forms.elementSelectField({
    elements: elements,
    id: 'customIcon',
    name: 'customIcon',
    label: 'Icon' | t,
    instructions: 'Specify an SVG asset for this menu item icon.' | t,
    elementType: craft.elements.getElementType('Asset'),
    criteria: {
        kind: [],
        localeEnabled: null,
        locale: null,
    },
    sources: sources,
    jsClass: 'Craft.AssetSelectInput',
    addButtonLabel: 'Select an Icon' |t,
    limit: 1,
}) }}

<input type="hidden" name="layoutId" value="{{ nav.layoutId }}" style="display: none;" />
<input type="hidden" name="id" value="{{ nav.id }}" style="display: none;" />
<input type="hidden" id="handle" name="handle" value="{{ nav.handle }}" style="display: none;" />

