.c-btn {
  padding: $padding/2 $padding;
  box-sizing: border-box;
  display: inline-block;
  margin: $margin;
  cursor: pointer;
  transition: all .2s ease;
  text-decoration: none;

  &:before {
    content: '\e907';
    font-family: 'icons';
    margin-right: $margin;
  }

  &--external:before {
    content: '\e902';
  }

  &--shadow {
    box-shadow: 2px 2px 20px $black;
  }

  &--light {
    background-color: $off-white;
    color: $gold--dark;

    &:hover {color: $green;}

  }

  &--dark {
    color: $white;
    background-color: $red;

    &:hover {background-color: darken($red,10%);}

  }

  &--hollow-dark {
    border: 1px solid $gold--dark;
    color: $gold--dark;

    &:hover {
      border-color: $gold--darker;
      color: $gold--darker;
    }

  }

  &--hollow {
    border: 1px solid $white;
    color: $white;

    &:hover {
      border-color: $green--dark;
      color: $green--dark;
    }

  }

  &--no-margin {
    margin: 0
  }

}