.c-content {
  &--bg {background-color: $off-white;}
}

.t-gray-bg {
  position: relative;

  // Set an absolute background color with a z-index because of the headings (.c-heading-lines) with a negative z-index.
  &:before {
    content:'';
    z-index: -2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: $off-white;
  }

}