/*------------------------------------*\
    Copyright footer
\*------------------------------------*/

.c-copyright-footer {
  position: relative;
  color: $white;
  padding-top: $padding*2;
  padding-bottom: $padding*2;

  &:before {
    // Background
    background-color: $black;
    position: absolute;
    content: '';
    left: -100vw;
    width: 300vw;
    height: 100%;
    top: 0;
    z-index: -1;
  }

}

.c-copyright-footer__logo {width: 150px;}

.c-copyright-footer__description {
  font-size: $smaller-font-size;
  max-width: $max-width/3;
  margin: $margin auto;
}


/*------------------------------------*\
    Social media buttons
\*------------------------------------*/

.c-media-buttons {
  @include inline-list();
  text-align: right;
}

.c-media-buttons__button {
  margin: $margin/4;
  @include mq(sm-down){margin: $margin/2;}
}

.c-media-buttons__link {

  @include natural-link();
  @include standard-color-transtion();

  &--vimeo,
  &--facebook,
  &--linkedin,
  &--youtube,
  &--twitter,
  &--googleplus {
    color: $gold--dark;

    &:hover {color: $white;}

    &:before {
      font-family: 'icons';
      font-size: 1.5em;
      @include mq(sm-down){
        font-size: 2em;
      }
    }

  }

  &--vimeo:before {content:'\ea9d'}
  &--facebook:before {content:'\e904'}
  &--linkedin:before {content:'\eac8'}
  &--youtube:before {content:'\ea99'}
  &--googleplus:before {content:'\ea89'}
  &--twitter:before {content:'\e905'}

}