.c-form {
  margin: $margin*3 auto;
  //padding-top: $padding*2;
  padding-bottom: $padding*2;

  @include mq(xs){
    margin-left: $margin;
    margin-right: $margin;
  }

}

.c-content .c-form .o-layout__row:not(.o-layout__row--alt-margin) {
  margin-top: $margin;
  margin-bottom: $margin;
}

.c-form__label {
  font-size: 1em;
  @include body-font();
  color: $green;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  text-align: right;

  @include mq(xs){
    text-align: left;
    margin-bottom: $margin/2;
  }

}

.c-form__input, .c-form__textarea {
  padding: $padding/2;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  transition: border-color .2s ease;
  outline: none;
  border: 1px solid $gray;

  &:focus, &:active {
    border-color: $gold--dark;
  }
}

.c-form__textarea {
  margin: 0;
  vertical-align: bottom;
}

.form__errors {
  @include unstyled-list();
  background-color: $red;
  color: $white;
  padding: $padding/2;
  border-radius: 3px;
  margin-top: $margin/2;
  font-size: $smaller-font-size;
}

.c-form__btn {
  @include body-font();
  font-size: inherit;
  border: none;
  //padding: $padding*.75 $padding*1.5;
}