.c-header {
  background-color: $black;
  border-top: 10px solid $gold--dark;
}

.c-menu {

  @include mq(md-up){
    @include inline-list();
    text-align: right;
  }

}

.c-menu__link {
  @include heading-font();
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  margin: $margin*.75;
  font-size: $h4-font-size;

  @include mq(md){
    font-size: $h4-font-size*.8;
  }

  letter-spacing: .05em;
  transition: color .2s ease;
  display: block;

  @include mq(md-up){
    &:hover {color: $gold--dark;}
  }
}

@include mq(md-up) {
  .c-menu__item-active {
    & .c-menu__link {
      color: $gold--dark;
    }
  }
}

.c-menu__mobile-menu-button, .c-menu__mobile-menu-trigger {display: none}

.c-header__logo {
  width: 139px;
}

// Mobile version of the menu
@include mq(sm-down){
  .c-header {height: $margin*3}

  .c-header__logo {
    width: 100px;
    margin-top: 7px;
  }

  .c-menu {
    display: none;
    margin: 0;
    text-align: center;
  }

  .c-menu__mobile-menu-button {
    display: block;
    outline: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 14px;
    color: $white;
    font-size: 1.5em;
    line-height: 1;
  }

  .c-menu__mobile-menu-button:after{
    content:'\e908';
    font-family: 'icons';
    display: block;
    width: 30px;
    height: 30px;
  }

  .c-menu__mobile-menu-trigger:checked ~ .c-menu__mobile-menu-button:after {content: '\e901';}

  .c-menu__mobile-menu-trigger:checked ~ .c-menu {
    display: block;
    z-index: 9999;
    right: 0;
    width: 100vw;
    top: $margin*3;
    position: absolute;
    background-color: $gold--dark;
  }

  .c-menu__item,  .c-menu__item-active {
    display: block;
    border-bottom: 1px solid $gold--darker;
  }

}

