.c-intro-wrapper {
  background-color: $gold--dark
}

.c-intro {
  position: relative;
}

.c-intro__block {
  padding: $padding*2;
  position: absolute;
  bottom: 50px;
  left: 0;
  text-align: center;
  width: calc(100% - #{$padding} * 4);
  margin: 0 auto;
}

.c-intro__title {
  color: $white;
  text-shadow: 2px 2px 10px lighten($black, 20%);
}

.c-solutions {
  padding-left: $padding;
  padding-right: $padding;
  flex-wrap: nowrap;

  @include mq(sm-down) {
    &:after {
      content: '';
      display: block;
      margin-left: $margin;
      margin-top: $margin;
      margin-bottom: $margin;
      width: calc(100% - #{$margin} * 2);
      height: 1px;
      background-color: $gold--dark;
    }
  }

}

.c-solutions__solution {
  margin-bottom: $margin;
  padding: $padding;
  @include mq(sm-down) {
    padding: $padding/2;
  }

  > a {
    @include natural-link();

    &:hover .c-solutions__image svg {
      fill: $gold--dark;
    }

  }

  box-sizing: border-box;
  border: 1px solid transparent;
}

.c-solutions__image {
  margin: auto;
  width: 30%;
  height: auto;

  & svg {
    fill: $green;
    transition: fill .2s ease;
  }

}

.c-industries {
  @include unstyled-list();
  border-left: 1px solid $green;
  border-top: 1px solid $green;

  margin-left: $margin*2;
  margin-right: $margin*2;
  margin-bottom: $margin*5;

  @include mq(sm-down) {
    margin-left: $margin;
    margin-right: $margin;
    margin-bottom: $margin*3;
  }

  position: relative;
  // background
  &:before {
    background-color: rgba($gold--dark, .3);
    position: absolute;
    content: '';
    left: -100vw;
    width: 200vw;
    height: 100%;
    top: $margin*5;
  }

}

.c-industry {
  background-color: $white;
  border-right: 1px solid $green;
  border-bottom: 1px solid $green;
  padding: $padding;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.c-industry__image {
  color: $gold--dark;
  & svg {
    height: 3rem;
    width: auto;
    fill: currentColor;
  }
}

.c-industry__link {

  > a {
    @include natural-link();
  }

  flex: 1 1 auto;
  z-index: 1;
  width: 100%;
  position: relative;
  box-sizing: border-box;

  @include mq(md-up) {
    border: $padding solid transparent;
  }

  padding: $padding;
  transition: border-color .2s linear;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;

  &:hover {
    border-color: $green;
    transform: scale3d(1.075, 1.075, 1) translateZ(0);
  }

}

.c-about {
  background-color: $green;
  display: block;
}