@font-face {
  font-family: 'icons';
  src:
          url($font-public-path + 'icons.ttf?8d3ccr') format('truetype'),
          url($font-public-path + 'icons.woff?8d3ccr') format('woff'),
          url($font-public-path + 'icons.svg?8d3ccr#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

//[class^="icon-"], [class*=" icon-"] {
//  font-family: 'icons' !important;
//  speak: none;
//  font-style: normal;
//  font-weight: normal;
//  font-variant: normal;
//  text-transform: none;
//  line-height: 1;
//
//  /* Better Font Rendering =========== */
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//}
//
//.icon-link-hamburger:before {
//  content: "\e908";
//}
//.icon-icon-arrow-left:before {
//  content: "\e900";
//}
//.icon-icon-cross:before {
//  content: "\e901";
//}
//.icon-icon-link-2:before {
//  content: "\e902";
//}
//.icon-icon-right:before {
//  content: "\e903";
//}
//.icon-icon-search:before {
//  content: "\e906";
//}
//.icon-link-icon:before {
//  content: "\e907";
//}
//.icon-facebook2:before {
//  content: "\e904";
//}
//.icon-twitter2:before {
//  content: "\e905";
//}
//.icon-google-plus2:before {
//  content: "\ea89";
//}
//.icon-youtube3:before {
//  content: "\ea99";
//}
//.icon-vimeo2:before {
//  content: "\ea9d";
//}
//.icon-linkedin:before {
//  content: "\eac8";
//}

/*------------------------------------*\
    Horizontal list with icons
\*------------------------------------*/

.c-icon-list {
  @include unstyled-list();
  margin: $margin*4 0;
  justify-content: center;

  @include mq(md-up){
    flex-wrap: nowrap;
  }

}

.c-icon-list + .c-icon-list {
  margin-top: -$margin;

  @include mq(sm-down) {
    margin-top: -$margin*4;

    .c-icon-list__item:first-child {
      border-top: 1px solid $gray;
      padding-top: $padding;
    }

  }
}

.c-icon-list__item {
  box-sizing: border-box;

  &:not(:first-child) {
    @include mq(md-up) {border-left: 1px solid $gray;}
    @include mq(sm-down) {
      border-top: 1px solid $gray;
      padding-top: $padding;
    }
  }

}


.c-icon-list__link {
  @include natural-link();
  @include standard-color-transtion();

  display: block;

  .c-industry__image svg {
    transition: fill .2s ease;
    fill: $green;
  }

  &:hover {
    .c-industry__image svg {
      fill: $gold--dark;
    }

    .c-icon-list__icon svg {
      fill: $green;
    }

  }

}

.c-icon-list__icon {
  transition: transform .2s linear;
  height: 50px;
  width: auto;
  color: $gold--dark;

  & svg {
    fill: $gold--dark;
    transition: fill .2s ease;
    max-height: 100%;
  }
}

.c-icon-list__icon-feature {
  @extend .c-icon-list__icon;
  display: inline-block;
  float: left;

  @include mq(sm-down) {
    display: block;
    float: inherit;
  }

    & svg {
    width: 2rem;
  }
}
.c-icon-list__heading {
  @include body-font();
  color: $black;
  font-weight: bold;
  font-size: 1em;
}

.c-icon-list__heading-feature {
  @extend .c-icon-list__heading;
  padding-top: .5rem;
  @include mq(sm-down) {
    padding-top: 0;
    margin-top: 0;
  }
}

.u-text-center {
  & .c-icon-list__icon-feature {
    display: block;
    float: inherit;
  }
  & .c-icon-list__heading-feature {
    padding-top: 0;
    margin-top: 0;
  }
  & .c-icon-list__container-feature {
    margin-left: 0;
  }
}

.c-icon-list__description-feature {
}
.c-icon-list__container-feature {
  margin-left: 3rem;
}
ul.c-icon-list-feature {
  @extend .c-icon-list;
  margin-top: 2rem;
  & li {
    margin-bottom: 2rem;
  }
}
