@lost gutter 0;
@lost flexbox flex;

body,html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

// Colored box wrapper
.o-colorered-block {
  padding: $padding*2;
  box-sizing: border-box;
  max-width: 100%;
}

.o-layout {
  lost-utility: clearfix;
  max-width: $max-width;
  margin: 0 auto;
  position: relative;
}

.o-layout__row {
  lost-flex-container: row;
  position: relative;

  &--no-wrap {
    flex-wrap: nowrap;
  }

  // Extra spacing for rows in the content zone
  .c-content & {
    &:not(.o-layout__row--alt-margin){
      margin-bottom: $margin*3;
    }
  }

  &--alt-margin {
    margin-top: $margin*3;
    margin-bottom: $margin*3;
    @include mq(sm-down){
      margin-top: $margin*2;
      margin-bottom: $margin*2;
    }
  }

  &--extra-padding {
    padding-left: $padding;
    padding-right: $padding;
  }

  @include mq(md-up){

    &--border{
      margin-bottom: $margin*3;

      &:after {
        content:'';
        height: 1px;
        width: calc(100% - #{$padding}*2);
        margin-left: $margin;
        margin-top: $margin*3;
        background-color: $gold--dark;
      }
    }

  }

}

.o-layout__item {
  padding-left: $padding;
  padding-right: $padding;
  box-sizing: border-box;

  @include mq(sm-down){

    &--gray\@sm {
      position: relative;
      padding: $padding 0;
      margin-bottom: $margin;
    }

    &--gray\@sm:before {
      content: '';
      position: absolute;
      background-color: $off-white;
      width: calc(100% + #{$margin}*2);
      height: 100%;
      top: 0;
      left: -$margin;
      z-index: -1;
    }

  }

  &--v-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &--no-padding {padding: 0;}

  &--flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}

.o-layout__section-intro {
  max-width: $max-width*.75;
  position: relative;
  margin: 0 auto $margin*3 auto;
  padding: 0 $padding*2;
}


.u-1\/1 {lost-column: 1/1;}
.u-1\/2 {lost-column: 1/2;}
.u-1\/3 {lost-column: 1/3;}
.u-2\/3 {lost-column: 2/3;}
.u-1\/4 {lost-column: 1/4;}
.u-3\/4 {lost-column: 3/4;}
.u-1\/5 {lost-column: 1/5;}
.u-2\/5 {lost-column: 2/5;}
.u-3\/5 {lost-column: 3/5;}
.u-4\/5 {lost-column: 4/5;}
.u-1\/6 {lost-column: 1/6;}
.u-2\/6 {lost-column: 2/6;}
.u-3\/6 {lost-column: 3/6;}
.u-4\/6 {lost-column: 4/6;}
.u-5\/6 {lost-column: 5/6;}
.u-1\/7 {lost-column: 1/7;}
.u-1\/8 {lost-column: 1/8;}
.u-1\/9 {lost-column: 1/9;}
.u-1\/10 {lost-column: 1/10;}

.u-order-1 { order: 1; }
.u-order-2 { order: 2; }
.u-order-3 { order: 3; }
.u-order-4 { order: 4; }
.u-order-5 { order: 5; }

@include mq(sm-down){
  .u-1\/1\@sm {lost-column: 1/1;}
  .u-1\/2\@sm {lost-column: 1/2;}
  .u-1\/4\@sm {lost-column: 1/4;}
  .u-2\/4\@sm {lost-column: 2/4;}
  .u-3\/4\@sm {lost-column: 3/4;}
  .u-4\/4\@sm {lost-column: 4/4;}

  .u-order-1\@sm { order: 1; }
  .u-order-2\@sm { order: 2; }
  .u-order-3\@sm { order: 3; }
  .u-order-4\@sm { order: 4; }
  .u-order-5\@sm { order: 5; }
}

@include mq(xs){
  .u-1\/1\@xs {lost-column: 1/1;}
}

@include mq(sm-down){
  .u-swap\@small {
    > .o-layout__item:first-child {order:2}
    > .o-layout__item:last-child {order:1}
  }
}