img {
  outline: none;
  border: none;
}

.o-image--full {
  width: 100%;
  height: auto;
  display: block;
}

.c-image--border {
  width: 100%;
  padding: $padding;
  background-color: $white;

  @include mq(sm-down){
    padding: $padding/2;
    margin-bottom: $margin;
  }

  border: 1px solid $gold--dark;
  box-sizing: border-box;
}

.c-img-background {
  position: relative;
  top: 0;
  bottom: 0;
  height: 50vh;
  min-height: 400px;
  width: 100%;
  overflow: hidden;
}

.c-img-background__image {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

img:not(.c-img-background__image) {max-width: 100%;}

.c-image-container__image {
  width: calc(100% - #{$margin*2});
  margin-left: $margin;
  margin-right: $margin;
}

.c-image-container__bg {height: 100px; margin-top: -50px;}
.c-image-container__bg--green {background-color: $green;}


/*------------------------------------*\
    Background video
\*------------------------------------*/

.c-background-video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


/*------------------------------------*\
    Video wrapper for inline vids
\*------------------------------------*/

.c-videoWrapper-outer {
  max-width: 1000px;
  margin: 0 auto;
}

.c-videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-top: $margin;
  margin-left: auto;
  margin-right: auto;
}

.c-videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}