@mixin unstyled-list(){
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

@mixin standard-color-transtion(){
  transition: color .2s ease;
}

@mixin inline-list(){
  @include unstyled-list();
  > li {display: inline-block;}
}

@mixin heading-font(){
  font-family: 'Bebas', 'Open Sans', sans-serif;
  font-weight: 500;
  letter-spacing: .025em;
}

@mixin body-font(){
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

@mixin natural-link(){
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/*------------------------------------*\
    Media query mixin
\*------------------------------------*/
@mixin mq($breakpoint) {

  $mq-xs: "(max-width: 767px)";
  $mq-sm: "(min-width: 768px) and (max-width: 991px)";
  $mq-sm-down: "(max-width: 991px)";
  $mq-md: "(min-width: 992px) and (max-width: 1199px)";
  $mq-md-down: "(max-width: 1199px)";
  $mq-md-up: "(min-width: 992px)";
  $mq-lg: "(min-width: 1200px)";
  $mq-xlg: "(min-width: 1600px)";

  @if $breakpoint == xs {
    @media #{$mq-xs} { @content; }
  }
  @else if $breakpoint == sm {
    @media #{$mq-sm} { @content; }
  }
  @else if $breakpoint == sm-down {
    @media #{$mq-sm-down}  { @content; }
  }
  @else if $breakpoint == md-down {
    @media #{$mq-md-down}  { @content; }
  }
  @else if $breakpoint == md {
    @media #{$mq-md}  { @content; }
  }
  @else if $breakpoint == md-up {
    @media #{$mq-md-up}  { @content; }
  }
  @else if $breakpoint == lg {
    @media #{$mq-lg}  { @content; }
  }
  @else if $breakpoint == xlg {
    @media #{$mq-xlg}  { @content; }
  }
}