.c-news-item {
  max-width: 1000px;
  margin: $margin*3 auto;
  padding-left: $padding*2;
  padding-right: $padding*2;

  @include mq(xs){
    padding-left: $padding;
    padding-right: $padding;

    .o-layout__row {flex-wrap: wrap;}

  }

}

.c-news-item__image {
  display: block;
  margin-bottom: $margin*2;
}

.c-news-item__heading {
  color: $gold--dark;
  margin-bottom: -$margin/2;
  margin-top: 0;
  width: 100%;
}

.c-news-item__date {
  @include heading-font();
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $green;
  color: $white;
  text-align: center;
  line-height: 1.2;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;

  @include mq(md){
    width: 75px;
    height: 75px;
  }

  @include mq(sm-down){
    width: 50px;
    height: 50px;
  }

}

.c-news-item__intro {
  flex: 1 1 calc(100% - (100px + #{$margin}*3));
  width: calc(100% - (100px + #{$margin}*3));
  margin-left: $margin*3;

  @include mq(sm-down){
    flex: 1 1 calc(100% - (50px + #{$margin}));
    width: calc(100% - (50px + #{$margin}));
    margin-left: $margin;
  }

}

// Date on detail pages
.c-news-item__detailed-date {
  color: $green;
  display: block;
  margin-top: $margin/2;
  margin-bottom: $margin*2;
  clear: both;
}

.c-news-item__day {
  font-size: $h2-font-size;
  display: block;

  @include mq(md-down) {
    font-size: $h4-font-size*.9;
  }

}

.c-news-item__month {
  font-size: $h4-font-size;
  display: block;
  @include mq(md-down){
    font-size: $h4-font-size*.9;
  }
}



/*------------------------------------*\
    Pagination
\*------------------------------------*/

.c-pagination {
  @include unstyled-list();
  @include inline-list();
  margin: $margin*1.5 auto;
  color: $white;
}

.c-pagination__item {
  margin: $margin/4;
  transition: background-color .2s ease;
  width: 40px;
  height: 40px;
  line-height: 0;

  background-color: $gold--dark;
  &:hover {background-color: $gold--darker;}

  &--active {
    background-color: $green;

    &:hover{background-color: $green;}

  }

  &--inactive {
    opacity: .3;

    &:hover{background-color: $gold--dark;}

  }

}

.c-pagination__item--inactive .c-pagination__link {cursor: default;}

.c-pagination__link {
  @include natural-link();
  line-height: 40px;
  font-size: $smaller-font-size;
  font-weight: bold;
  display: block;

  &--prev:before {content:"\e900"; font-family: 'icons'; line-height: 0}
  &--next:before {content:"\e903"; font-family: 'icons'; line-height: 0}

}