/**
     * (optional) define here the style definitions which should be applied on the slider container
     * e.g. width including further controls like arrows etc.
     */
.Carrousel {
  &--frame {
    position: relative;
    //font-size: 0;
    //line-height: 0;
    overflow: hidden;
    //white-space: nowrap;
    width: 100%;
  }

  &--slides {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 0;
  }

  &--slide {
    position: relative;
    display: inline-block;
    margin: 0;
    background-size: cover;
    font-size: 1rem;
  }

  &--next, &--prev {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: block;
    cursor: pointer;
  }

  &--next {
    right: 0;
  }

  &--prev {
    left: 0;
  }
}