@font-face {
  font-family: 'Bebas';
  src: url($font-public-path + 'bebasneue-webfont.eot');
  src: url($font-public-path + 'bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
  url($font-public-path + 'bebasneue-webfont.woff2') format('woff2'),
  url($font-public-path + 'bebasneue-webfont.woff') format('woff'),
  url($font-public-path + 'bebasneue-webfont.ttf') format('truetype'),
  url($font-public-path + 'bebasneue-webfont.svg#bebasneue') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url($font-public-path + 'opensans-bold-webfont.eot');
  src: url($font-public-path + 'opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url($font-public-path + 'opensans-bold-webfont.woff2') format('woff2'),
  url($font-public-path + 'opensans-bold-webfont.woff') format('woff'),
  url($font-public-path + 'opensans-bold-webfont.ttf') format('truetype'),
  url($font-public-path + 'opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url($font-public-path + 'opensans-light-webfont.eot');
  src: url($font-public-path + 'opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
  url($font-public-path + 'opensans-light-webfont.woff2') format('woff2'),
  url($font-public-path + 'opensans-light-webfont.woff') format('woff'),
  url($font-public-path + 'opensans-light-webfont.ttf') format('truetype'),
  url($font-public-path + 'opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url($font-public-path + 'opensans-lightitalic-webfont.eot');
  src: url($font-public-path + 'opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url($font-public-path + 'opensans-lightitalic-webfont.woff2') format('woff2'),
  url($font-public-path + 'opensans-lightitalic-webfont.woff') format('woff'),
  url($font-public-path + 'opensans-lightitalic-webfont.ttf') format('truetype'),
  url($font-public-path + 'opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
  font-weight: 300;
  font-style: italic;
}

a {color: $gold--dark;}

body {
  @include body-font();
  font-size: 100%;
  line-height: 1.5;
  @include mq(md-up){font-size: 110%;}
  @include mq(sm-down){font-size: 90%;}
  transition: font-size .2s ease;
}

h1, h2, h3, h4, h5 {
  @include heading-font();
  line-height: 1.1;
  margin-top: $margin;
  margin-bottom: $margin;
}

h3 {color: $gold--dark;}

h1 {font-size: $h1-font-size}
h2 {font-size: $h2-font-size}
h3 {font-size: $h3-font-size}
h4 {font-size: $h4-font-size}
h5 {font-size: $h5-font-size}

@include mq(sm-down){
  h1 {font-size: $h1-font-size*.8}
  h2 {font-size: $h2-font-size*.8}
  h3 {font-size: $h3-font-size*.8}
  h4 {font-size: $h4-font-size*.8}
  h5 {font-size: $h5-font-size*.8}
}



.c-heading-title {
  color: $gold--dark;
  padding-left: $padding*2;
  padding-right: $padding*2;
  margin: $margin*3 auto $margin auto;

  @include mq(md-up){
    margin-top: $margin*6;
    background-color: white;

    // Match the background-color of the parent/container theme
    .t-gray-bg & {background-color: $off-white;}

    display: inline-block;
    border-left: 1px solid $gold--dark;
    border-right: 1px solid $gold--dark;
    line-height: .4em;

    &:before {
      content:'';
      width: calc(100% - #{$margin}*4);
      left: $margin*2;
      margin-top: .2em;
      background-color: $gold--dark;
      display: block;
      height: 1px;
      position: absolute;
      z-index: -1;
    }

  }
}

.c-heading-text {
  margin-left: auto;
  margin-right: auto;
}


.c-small-thin-heading {
  @include body-font();
  color: $green;
  font-size: $h4-font-size;

  @include mq(sm-down){
    font-size: $h4-font-size*.9;
    //font-weight: bold;
    color: #000;
  }

  margin-top: $margin/2;
  margin-bottom: 0;
}