.u-text-center {text-align: center;}
.u-text-left {text-align: left !important;}
.u-no-margin {margin: 0;}
.u-no-margin-left {margin-left: 0 !important;}
.u-limit-width {max-width: 700px !important;}
.u-full-width {width: 100% !important;}
.u-flex-align-top {justify-content: flex-start !important;}
.u-relative-position {position: relative !important;}

.u-background--blue {
  background-color: $green;
  *:not(.c-btn){color: $white !important;}
}

@include mq(sm-down){
  .u-hidden\@sm {
    display: none;
  }
  .u-text-center\@sm {
    text-align: center !important;
  }
}
