$max-width: 1600px;

$margin: 1rem;
$padding: 1rem;

$font-public-path: "/assets/fonts/";
$h1-font-size : 2.8em;
$h2-font-size : 2.6em;
$h3-font-size : 2em;
$h4-font-size : 1.3em;
$h5-font-size : 1em;
$smaller-font-size: .8em;

$black: rgba(0,0,0, 1);
$gray: rgba(200,200,199,1);
$white: rgba(255,255,255, 1);
$gold--dark: rgba(128, 112, 80, 1);
$gold--darker: darken($gold--dark, 10%);
$green: rgba(33,182,168, 1);
$green--dark: darken($green, 25%);
$red: rgba(182, 33, 45, 1);
$off-white: rgba(249,249,249,1);