{% import "_includes/forms" as forms %}

{% extends "_layouts/cp" %}
{% import '_includes/forms' as forms %}

{% set title = craft.seomatic.getPluginName() %}

{% set docsUrl = "https://github.com/nystudio107/seomatic/wiki" %}

{% set seomaticSections = {
    seometrics: { label: "SEOmetrics"|t, url: url('seomatic/seometrics') },
    meta:       { label: "Template Meta"|t, url: url('seomatic/meta') },
    site:       { label: "Site Meta"|t, url: url('seomatic/site') },
    identity:   { label: "Site Identity"|t, url: url('seomatic/identity') },
    social:     { label: "Social Media"|t, url: url('seomatic/social') },
    creator:    { label: "Site Creator"|t, url: url('seomatic/creator') },
    settings:   { label: "Settings"|t, url: url('seomatic/settings') },
} %}

{% set crumbs = [
    { label: craft.seomatic.getPluginName(), url: url('seomatic') },
    { label: "SEOmetrics"|t, url: url('seomatic/seometrics') },
] %}

{% if craft.app.version < 2.5 %}
    {% set tabs = seomaticSections %}
    {% set selectedTab = 'seometrics' %}
{% else %}
    {% set subnav = seomaticSections %}
    {% set selectedSubnavItem = 'seometrics' %}
{% endif %}

{% set content %}

<style>

div.seometrics-spinner-wrapper {
    margin: 0 auto;
    padding: 50px;
    display: block;
}

div#fields-seomatic-metrics-content,
div#seomatic-metrics-content {
    padding: 0px;
    border: none;
    width: 100%;
    display: block;
    background-color: #FFF;
}

iframe.seomatic-metrics-iframe {
    width: 100%;
    min-height: 45vw;
}

div#fields-seomatic-metrics-content-inner,
div#seomatic-metrics-content-inner {
    width: 100%;
    height: 100%;
}

div#fields-seomatic-metrics-content object ,
div#seomatic-metrics-content object {
    width: 100%;
    height: 100%;
}

input[type="text"].seomatic-metrics-input {
    color: #222;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: normal;
    border: 1px solid rgba(0, 0, 0, .5);
    padding: 6px;
    margin-right: 8px;
    width: 50%;
    display: inline-block;
}

label.seomatic-metrics-label {
    color: #222;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: normal;
    padding: 8px;
    display: inline-block;
}

a.seomatic-metrics-button {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: normal;
    line-height: 18px;
    padding: 4px 10px;
    margin: 0;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    border: 2px solid rgba(0, 0, 0, .5);
    color: rgba(0, 0, 0, .8);
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

a.seomatic-metrics-button:hover {
    border-color: rgba(0, 0, 0, .8);
    color: rgba(0, 0, 0, 1.0);
}

div.seomatic-metrics-header {
    border-bottom: 1px dashed #d5d8dd;
    padding-bottom: 10px;
}

div.seomatic-metrics-header:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

</style>

{% set urlToAnalyze = siteUrl %}

	<div id="preview-seometrics-popup">
		<div class="preview-modal">
			<div class="preview-modal-inner">
				<div class="displaypreview-container">

					<div class="preview-column">
						<h1>{{ "SEOmetrics Content Analysis" |t }}</h1>
						<p>{{ ("SEOmetrics Content Analysis will run a variety of tests on your web page, and offer you analysis with helpful tips on how to correct any problems it finds.  For Craft Entries/Sections, you can access SEOmetrics for specific pages via Live Preview by clicking on the SEOmetrics badge:") |t |raw }}</p>
                        <p><img src="{{ resourceUrl('seomatic/images/seometrics_badge.png') }}" width="auto" height="auto" /></p>
						<p>{{ "Enter any URL below to analyze.  You can enter Focus Keyworks, comma separated, for an additional analysis of how well optimized your page is for those specific SEO keywords." |t |raw }}</p>

						<div id ="seomatic-metrics-content">
						    <div class="seomatic-metrics-header">
                                <div style="float: left; width: 95%; padding-left: 6px;">
                                    <label class="seomatic-metrics-label">URL to Analyze:</label><input id="seomatic-metrics-url" type="text" class="seomatic-metrics-input" placeholder="https://nystudio107.com/" value="{{ urlToAnalyze }}">
                                </div>
                                <div style="float: left; width: 95%;">
                                    <label class="seomatic-metrics-label">Focus Keywords:</label><input id="seomatic-metrics-keywords" type="text" class="seomatic-metrics-input" placeholder="comma separated keywords"> <a id="seomatic-metrics-analyze" class="seomatic-metrics-button" href="#" onclick="load_metrics()">Analyze</a>
                                </div>
						    </div>
                            <div id="seometrics-spinner">
                                <div class="spinner big seometrics-spinner-wrapper">
                                </div>
                            </div>
						    <div id="seomatic-metrics-content-inner">
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endset %}



{% set js %}
load_metrics();

document.getElementById("seomatic-metrics-keywords")
    .addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode == 13) {
        document.getElementById("seomatic-metrics-analyze").click();
    }
});
document.getElementById("seomatic-metrics-url")
    .addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode == 13) {
        document.getElementById("seomatic-metrics-analyze").click();
    }
});

    function load_metrics()
    {
        var floaterDiv = document.getElementById('seomatic-metrics-content');
        var whichUrl = document.getElementById('seomatic-metrics-url').value;
        var whichKeywords = document.getElementById('seomatic-metrics-keywords').value;
        var dataUrl = Craft.getActionUrl('seomatic/renderMetrics', {url: whichUrl, keywords: whichKeywords});

        document.getElementById("seomatic-metrics-content-inner").innerHTML='<iframe id="iFrame1" class="seomatic-metrics-iframe" src="' + dataUrl + '" ></iframe>';
        $('#seometrics-spinner').show();
        $('#iFrame1').load(function(){
            var iFrame = document.getElementById( 'iFrame1' );
            resizeIFrameToFitContent(iFrame);
            $('#seometrics-spinner').hide();
        });
   }

function resizeIFrameToFitContent( iFrame ) {
    iFrame.width  = iFrame.contentWindow.document.body.scrollWidth;
    iFrame.height = iFrame.contentWindow.document.body.scrollHeight;
}

$( window ).resize(function() {
    var iFrame = document.getElementById( 'iFrame1' );
    resizeIFrameToFitContent(iFrame);
});

{% endset %}
{% includeJs js %}