{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "layouts/_default" %}
{% import "snippets/carrousel.twig" as carrousel %}

{% block content %}
    {% cache %}
    {% set entry = craft.entries.section("homepage").first() %}
    {% set entryCarrousel = craft.entries({
        section: "carrousels", search: "label:/" ~ craft.request.getPath()
    }).first() %}
    {{ carrousel.addCarrousel(entryCarrousel, 'c-intro u-text-center') }}

    <section class="o-layout u-text-center">
        <div class="o-layout__section-intro">
            <h2 class="c-heading-title">{{ entry.solutionsTitle }}</h2>
            {{ entry.solutionsDescription|firstTag('c-heading-text','p') }}
        </div>
        {%- set solutionLimit = 99 -%}
        {% include "snippets/homepage/solutions.twig" %}
    </section>

    {% endcache %}
{% endblock %}
