<!DOCTYPE html>
<html lang="en">
{% cache %}
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    {% include 'snippets/_favicons.twig' %}
    {% set seomaticTemplatePath = 'snippets/seo-meta' %}{% hook 'seomaticRender' %}
    <link rel="home" href="{{ siteUrl }}">
    <link rel="stylesheet" href="/assets/{{ craft.elixir.version('css/app.css') }}">
</head>
{% endcache %}
<body>
<div id="b-wrapper">
    <div class="b-container">
        <header class="c-header">
            <div class="o-layout o-layout__row">
                <div class="o-layout__item o-layout__item--v-center u-1/4 u-1/2@sm">
                    <a href="/">
                        <img class="c-header__logo" src="{{ general.icon.first().url() }}" alt="iCartons">
                    </a>
                </div>
                <nav class="o-layout__item u-3/4 u-1/2@sm">
                    <input type="checkbox" id="nav" class="c-menu__mobile-menu-trigger"/><label
                            class="c-menu__mobile-menu-button" for="nav"></label>
                    {% include "snippets/main-menu" %}
                </nav>
            </div>
        </header>

        <main>
            {% block content %}
                <p>There was an error loading the content</p>
            {% endblock %}
        </main>
        {% include "snippets/footer" %}
        <script src="/assets/{{ craft.elixir.version('js/app.js') }}"></script>
    </div>
</div>
<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
        var u = "//stats.brightbox.nl/";
        _paq.push(['setTrackerUrl', u + 'piwik.php']);
        _paq.push(['setSiteId', 65]);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + 'piwik.js';
        s.parentNode.insertBefore(g, s);
    })();
</script>
<noscript><p><img src="//stats.brightbox.nl/piwik.php?idsite=65" style="border:0;" alt=""/></p></noscript>
</body>
</html>