{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "layouts/_default" %}

{% block content %}
    {%- set image = entry.focussedImage.first() -%}
    {% if image %}
        <div class="c-intro-wrapper">
            <div class="c-intro o-layout u-text-center">
                <div class="c-img-background"
                     style="background-image: url('{{ image.url }}'); background-position: {{ image.focusPctX }}% {{ image.focusPctY }}%;">
                    <div class="c-intro__block">
                        <h1 class="c-intro__title">{{ entry.title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <section class="c-content t-gray-bg">
        <div class="o-layout">
            <div class="o-layout__section-intro u-text-center">
                {% if not image %}
                    <h2 class="c-heading-title">{{ entry.title }}</h2>
                {% endif %}
                <p class="c-heading-text u-limit-width">{{ entry.shortDescription }}</p>
            </div>

            {% for block in entry.neoContent.level(1) %}
                {% include "snippets/neo-content" %}
            {% endfor %}

        </div>
    </section>

    <div class="o-layout__section-intro u-text-center">
        <h2 class="c-heading-title">Related Solutions</h2>

        {% for row in entry.selectSolutions|batch(4) %}
            <ul class="c-icon-list o-layout__row">
                {% for solution in row %}
                    {% if solution %}
                        <li class="c-icon-list__item o-layout__item u-1/4 u-1/1@sm">
                            <a href="{{ solution.url }}" class="c-icon-list__link">
                                <div class="c-industry__image">
                                    {{ craft.inlin.er(solution.setIcon.first().url(), true) | raw }}
                                </div>
                                <h3 class="c-icon-list__heading">{{ solution.title }}</h3>
                                <p class="c-icon-list__description u-hidden@sm">{{ solution.shortDescription }}</p>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endfor %}

    </div>
    {% if entry.quote %}
    <section class="o-layout__row u-text-center">
        <div class="o-layout__item o-layout__item--flex-center o-layout__item--no-padding u-1/1 u-background--blue">
            <div class="o-colorered-block">
                <h2 class="u-limit-width">“{{ entry.quote }}”</h2>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}
