{#
 # 404 template
 # ------------
 #
 # This template is loaded whenever Craft cannot figure out how to
 # respond to an incoming request. No setup is involved to get your
 # 404 page working; you just need to call it 404.html and put it
 # at the root of your craft/templates/ folder.
 #
 # You can also create 400.html, 403.html, 500.html, and 503.html
 # templates if you’d like. If Craft can’t find an error template
 # to match the error code, it will just use the one in
 # craft/app/templates/ instead.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "layouts/_default" %}
{% set title = "404" %}

{% block content %}

	<div class="c-intro-wrapper">
		<div class="c-intro o-layout u-text-center">
			<div class="c-img-background">

				{# todo: implement responsive images with art direction for different screen sizes #}
				<img src="assets/images/background_1.jpg" alt="iCartons Packaging" class="c-img-background__image">

				<div class="c-intro__block">
					<h1 class="c-intro__title">Synth polaroid bitters chillwave pickl</h1>
				</div>
			</div>
		</div>
	</div>

<div class="c-content t-gray-bg">
	<div class="o-layout">

		{# todo: check text. Ok? #}
		<div class="o-layout__section-intro u-text-center">
			<h2 class="c-heading-title">404: Page not found</h2>
			<p class="c-heading-text u-limit-width">The page you've requested could not be found.</p>
		</div>

	</div>
</div>
{% endblock %}
