{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "layouts/_default" %}
{% import "snippets/carrousel.twig" as carrousel %}

{% block content %}
    {% cache %}

    {% set entryCarrousel = entry.carrousel.first() %}
    {{ carrousel.addCarrousel(entryCarrousel, 'c-intro u-text-center') }}

    <section class="c-content">
        <div class="o-layout">
            <div class="o-layout__section-intro u-text-center">
                <h2 class="c-heading-title">{{ entry.title }}</h2>
                <p class="c-heading-text u-limit-width">{{ entry.shortDescription }}</p>
            </div>

            {% for block in entry.neoContent.level(1) %}
                {% include "snippets/neo-content" %}
            {% endfor %}

        </div>
    </section>

    <section class="c-content t-gray-bg">
        <div class="o-layout">
            <div class="o-layout__section-intro u-text-center">
                <h2 class="c-heading-title">Professional team</h2>
                {{ entry.body|firstTag('c-heading-text u-limit-width','p') }}
            </div>
        </div>
        <div class="c-image-container u-text-center">

             {#image which overlaps the next image/background#}
            <img src="{{ entry.headerImage.first().url }}" alt="team image" class="c-image-container__image u-limit-width">

            <div class="c-image-container__bg c-image-container__bg--green"></div>
        </div>
    </section>

{% endcache %}
{% endblock %}
