{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "layouts/_default" %}
{% import "snippets/carrousel.twig" as carrousel %}

{##}
{# todo: maybe also usable as base for the default content detail page? #}
{##}
{##}

{% block content %}
    {% set entryCarrousel = entry.carrousel.first() %}
    {{ carrousel.addCarrousel(entryCarrousel, 'c-intro u-text-center') }}

    <section class="c-content">

        <div class="o-layout__section-intro u-text-center">
            <h2 class="c-heading-title">{{ entry.title }}</h2>
            {{ entry.body|firstTag('c-heading-text','p') }}
        </div>

        {% if craft.request.getQuery('sent') %}
            <div class="o-layout__section-intro o-layout__row">
                <div class="o-layout__item u-text-center u-1/1 u-background--blue">
                    <h3>{{ entry.shortDescription }}</h3>
                </div>
            </div>
        {% endif %}

        <div class="o-layout__section-intro o-layout__row">
            <div class="o-layout__item o-layout__item--no-padding u-1/2 u-1/1@sm u-order-2@sm">
                <h3 class="c-small-thin-heading">{{ siteName }}</h3>
                <p>
                    <strong>Address:</strong>
                    {{ general.address.street1 }},
                    {{ general.address.zip }} {{ general.address.city }},
                    {{ general.address.country }}<br></p>
                <p>
                    <strong>Phone:</strong>
                    <a href="tel:00{{ general.phone | replace({
                        "+": "",
                        " ":  ""
                    }) }}">{{ general.phone }}</a>
                </p>
                <p>
                    <strong>Email:</strong>
                    {% set email = '<a href="mailto:' ~ craft.systemSettings.email.emailAddress ~  '">' ~ craft.systemSettings.email.emailAddress ~ '</a>' %}
                    {{ email|emailObfuscate }}
                </p>
                <p>
                    {% set options = {
                    height: 450, zoom: 16, id: 'c-map__container'
                    } %}
                    {{ craft.smartMap.map(general.address, options) }}
                </p>
            </div>
            <div class="o-layout__item o-layout__item--no-padding u-1/2 u-1/1@sm u-order-1@sm">
                {% include "snippets/contact-form.twig" %}
            </div>
        </div>
    </section>
<script>
    console.log("hi");
</script>
{% endblock %}
