{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "layouts/_default" %}

{##}
{# todo: maybe also usable as base for the default content detail page? #}
{##}
{##}

{% block content %}

    <div class="c-intro-wrapper">
        <div class="c-intro o-layout u-text-center">
            <div class="c-img-background">

                {# todo: implement responsive images with art direction for different screen sizes #}
                <img src="assets/images/background_1.jpg" alt="iCartons Packaging" class="c-img-background__image">

                <div class="c-intro__block">
                    <h1 class="c-intro__title">Synth polaroid bitters chillwave pickl</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="c-content">

        <div class="o-layout__section-intro u-text-center">
            <h2 class="c-heading-title">Form example</h2>
            <p class="c-heading-text u-limit-width">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab doloribus ipsam ratione ullam voluptatibus. Corporis ducimus exercitationem illo odit omnis quisquam quo rerum saepe veritatis voluptate. Alias beatae eligendi et?</p>
        </div>

        <form class="c-form u-limit-width u-text-center" method="post" action="" accept-charset="UTF-8">
            {#<input type="hidden" name="action" value="contactForm/sendMessage">#}
            {#<input type="hidden" name="redirect" value="contact/thanks">#}

            <div class="o-layout__row">
                <div class="c-form__label o-layout__item u-1/3 u-1/1@xs">
                    <label for="fromName">Your Name</label>
                </div>
                <div class="o-layout__item u-2/3 u-1/1@xs">
                    <input class="c-form__input" id="fromName" type="text" name="fromName" value="">
                </div>
            </div>

            <div class="o-layout__row">
                <div class="c-form__label o-layout__item u-1/3 u-1/1@xs">
                    <label for="fromEmail">Your Email</label>
                </div>
                <div class="o-layout__item u-2/3 u-1/1@xs">
                    <input class="c-form__input" id="fromEmail" type="text" name="fromEmail" value="">
                    <ul class="form__errors">
                        <li>Error: email is required</li>
                    </ul>
                </div>
            </div>

            <div class="o-layout__row">
                <div class="c-form__label o-layout__item u-1/3 u-1/1@xs">
                    <label for="subject">Subject</label>
                </div>
                <div class="o-layout__item u-2/3 u-1/1@xs">
                    <input class="c-form__input" id="subject" type="text" name="subject" value="">
                </div>
            </div>

            <div class="o-layout__row">
                <div class="c-form__label o-layout__item  u-1/3 u-1/1@xs">
                    <label for="message">Message</label>
                </div>
                <div class="o-layout__item u-2/3 u-1/1@xs">
                    <textarea class="c-form__textarea" rows="10" cols="40" id="message" name="message"></textarea>
                    <ul class="form__errors">
                        <li>Error: message is required</li>
                    </ul>
                </div>
            </div>

            <div class="o-layout__row">
                <div class="c-form__label o-layout__item u-1/3 u-1/1@xs u-flex-align-top">
                </div>
                <div class="o-layout__item u-2/3 u-1/1@xs u-text-left">
                    <input class="c-form__btn c-btn c-btn--no-margin c-btn--dark" type="submit" value="Send">
                </div>
            </div>

        </form>

    </section>

{% endblock %}
