{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "layouts/_default" %}

{% block content %}

    <div class="c-intro-wrapper">
        <div class="c-intro o-layout u-text-center">
            <div class="c-img-background">

                {# todo: implement responsive images with art direction for different screen sizes #}
                <img src="assets/images/background_1.jpg" alt="iCartons Packaging" class="c-img-background__image">

                <div class="c-intro__block">
                    <h1 class="c-intro__title">Synth polaroid bitters chillwave pickl</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="c-content t-gray-bg">
        <div class="o-layout">
            <div class="o-layout__section-intro u-text-center">
                <h2 class="c-heading-title">Consumer Engagement</h2>
                <p class="c-heading-text u-limit-width">Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu.</p>
            </div>

            <div class="o-layout__row o-layout__row--border o-layout__row--extra-padding u-swap@small">
                <div class="o-layout__item u-2/3 u-1/1@sm u-text-center@sm">
                    <h3 class="c-small-thin-heading">Donec viverra</h3>
                    <p>Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu.</p>
                    <a href="#" class="c-btn c-btn--hollow-dark u-no-margin-left">More information</a>
                </div>
                <div class="o-layout__item u-1/3 u-1/1@sm">
                    <img src="assets/images/example-image-2.jpg" class="c-image--border" alt="test">
                </div>
            </div>

            <div class="o-layout__row o-layout__row--extra-padding">
                <div class="o-layout__item u-1/3 u-1/1@sm">
                    <img src="assets/images/example-image-3.jpg" class="c-image--border" alt="test">
                </div>
                <div class="o-layout__item u-2/3 u-1/1@sm u-text-center@sm">
                    <h3 class="c-small-thin-heading">Donec viverra</h3>
                    <p>Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu.</p>
                </div>
            </div>
        </div>
    </section>

    <div class="o-layout__section-intro u-text-center">
        <h2 class="c-heading-title">Related Industries</h2>
        <ul class="c-icon-list o-layout__row">
            <li class="c-icon-list__item o-layout__item u-1/4 u-1/1@sm">
                <a href="" class="c-icon-list__link">
                    <img src="assets/images/heads.svg" alt="" class="c-icon-list__icon">
                    <h3 class="c-icon-list__heading">Become a partner</h3>
                    <p class="c-icon-list__description u-hidden@sm">Ad, beatae dolorem, doloremque doloribus, eaque error libero nisi</p>
                </a>
            </li>
            <li class="c-icon-list__item o-layout__item u-1/4 u-1/1@sm">
                <a href="" class="c-icon-list__link">
                    <img src="assets/images/shouthorn.svg" alt="" class="c-icon-list__icon">
                    <h3 class="c-icon-list__heading">About us</h3>
                    <p class="c-icon-list__description u-hidden@sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </a>
            </li>
            <li class="c-icon-list__item o-layout__item u-1/4 u-1/1@sm">
                <a href="" class="c-icon-list__link">
                    <img src="assets/images/textballoons.svg" alt="" class="c-icon-list__icon">
                    <h3 class="c-icon-list__heading">Contact us</h3>
                    <p class="c-icon-list__description u-hidden@sm">Doloremque doloribus</p>
                </a>
            </li>
            <li class="c-icon-list__item o-layout__item u-1/4 u-1/1@sm">
                <a href="" class="c-icon-list__link">
                    <img src="assets/images/textballoons.svg" alt="" class="c-icon-list__icon">
                    <h3 class="c-icon-list__heading">Contact us</h3>
                    <p class="c-icon-list__description u-hidden@sm">Doloremque doloribus</p>
                </a>
            </li>
        </ul>
         {#Example for a situation with more than 4 items#}
        <ul class="c-icon-list o-layout__row ">
            <li class="c-icon-list__item o-layout__item u-1/4 u-1/1@sm">
                <a href="" class="c-icon-list__link">
                    <img src="assets/images/heads.svg" alt="" class="c-icon-list__icon">
                    <h3 class="c-icon-list__heading">Become a partner</h3>
                    <p class="c-icon-list__description u-hidden@sm">Ad, beatae dolorem, doloremque doloribus, eaque error libero nisi</p>
                </a>
            </li>
            <li class="c-icon-list__item o-layout__item u-1/4 u-1/1@sm">
                <a href="" class="c-icon-list__link">
                    <img src="assets/images/shouthorn.svg" alt="" class="c-icon-list__icon">
                    <h3 class="c-icon-list__heading">About us</h3>
                    <p class="c-icon-list__description u-hidden@sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </a>
            </li>
            <li class="c-icon-list__item o-layout__item u-1/4 u-1/1@sm">
                <a href="" class="c-icon-list__link">
                    <img src="assets/images/textballoons.svg" alt="" class="c-icon-list__icon">
                    <h3 class="c-icon-list__heading">Contact us</h3>
                    <p class="c-icon-list__description u-hidden@sm">Doloremque doloribus</p>
                </a>
            </li>
        </ul>
    </div>

    <section class="o-layout__row u-text-center">
        <div class="o-layout__item o-layout__item--flex-center o-layout__item--no-padding u-1/1 u-background--blue">
            <div class="o-colorered-block">
                <h2 class="u-limit-width">“Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper.”</h2>
            </div>
        </div>
    </section>

{% endblock %}
