{% macro addSlide(slide) %}
    {%- set image = slide.focussedImage.first() -%}
    {%- set heading = slide.title -%}
    <li class="c-img-background Carrousel--slide"
        style="background-image: url('{{ image.url('backgroundImage') }}'); background-position: {{ image.focusPctX }}% {{ image.focusPctY }}%;">
        <div class="c-intro__block">
            <h1 class="c-intro__title">{{ heading }}</h1>
            {% for button in slide.buttons %}
                {% set url =  button.target.first() ? button.target.first().url() : button.customTarget %}
                {% set class = 'contact-icartons' in url ? 'no-barba ' : '' %}
                {% if url %}
                    <a href="{{ url }}" class="c-btn {{ button.design }} {{ class }}c-btn--shadow">
                        {{ button.label }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </li>
{% endmacro %}


{% macro addVideo(slide) %}
    {%- set video = slide.video.first() -%}
    {%- set image = slide.focussedImage.first() -%}
    {%- set heading = slide.title -%}

    {% if craft.lj_mobiledetect.type == "none" %}
        <li class="c-img-background Carrousel--slide">
            <video class="c-background-video" autoplay loop width="442" height="345" preload="auto">
                <source src="{{ video.url }}" type="video/mp4">
            </video>
    {% else %}
        <li class="c-img-background Carrousel--slide"
            style="background-image: url('{{ image.url('backgroundImage') }}'); background-position: {{ image.focusPctX }}% {{ image.focusPctY }}%;">
    {% endif %}
        <div class="c-intro__block">
            <h1 class="c-intro__title">{{ heading }}</h1>
            {% for button in slide.buttons %}
                {% set url =  button.target.first() ? button.target.first().url() : button.customTarget %}
                {% set class = 'contact-icartons' in url ? 'no-barba ' : '' %}
                {% if url %}
                    <a href="{{ url }}" class="c-btn {{ button.design }} {{ class }}c-btn--shadow">
                        {{ button.label }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </li>
{% endmacro %}


{% macro addCarrousel(carrousel, classes) %}
    {% if carrousel %}
        {%- set children = carrousel.getDescendants() -%}
        {% if children.total() > 0 %}
            <div class="c-intro-wrapper js_slider Carrousel">
                <div class="Carrousel--frame">
                    <ul class="{{ classes }} Carrousel--slides">
                        {% for slide in children %}
                            {% if slide.video.first() %}
                                {{ _self.addVideo(slide) }}
                            {% else %}
                                {{ _self.addSlide(slide) }}
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {%- if children.total() > 1 -%}
                        <span class="Carrousel--prev"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                                                           viewBox="0 0 501.5 501.5"><g><path fill="#FFF"
                                                                                              d="M302.67 90.877l55.77 55.508L254.575 250.75 358.44 355.116l-55.77 55.506L143.56 250.75z"></path></g></svg></span>
                        <span class="Carrousel--next"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                                                           viewBox="0 0 501.5 501.5"><g><path fill="#FFF"
                                                                                              d="M199.33 410.622l-55.77-55.508L247.425 250.75 143.56 146.384l55.77-55.507L358.44 250.75z"></path></g></svg></span>
                    {%- endif -%}
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endmacro %}

