<form class="c-form u-limit-width u-text-center" method="post" action="" accept-charset="UTF-8">
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="contactForm/sendMessage">
    <input type="hidden" name="redirect" value="/{{ craft.request.path }}?sent=true&from={fromName}">

    <div class="o-layout__row">
        <div class="c-form__label o-layout__item u-1/3 u-1/1@xs">
            <label for="fromName">Your name</label>
        </div>
        <div class="o-layout__item u-2/3 u-1/1@xs">
            <input class="c-form__input" id="fromName" type="text" name="fromName" value="{% if message is defined %}{{ message.fromName }}{% endif %}">
            {{ message is defined and message ? _self.errorList(message.getErrors("fromName")) }}
        </div>
    </div>
    <div class="o-layout__row">
        <div class="c-form__label o-layout__item u-1/3 u-1/1@xs">
            <label for="fromEmail">Your email address</label>
        </div>
        <div class="o-layout__item u-2/3 u-1/1@xs">
            <input class="c-form__input" id="fromEmail" type="email" name="fromEmail" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}">
            {{ message is defined and message ? _self.errorList(message.getErrors("fromEmail")) }}
        </div>
    </div>
    <div class="o-layout__row">
        <div class="c-form__label o-layout__item u-1/3 u-1/1@xs">
            <label for="subject">Subject</label>
        </div>
        <div class="o-layout__item u-2/3 u-1/1@xs">
            <input class="c-form__input" id="subject" type="text" name="subject" value="{% if message is defined %}{{ message.subject }}{% endif %}">
            {{ message is defined and message ? _self.errorList(message.getErrors("subject")) }}
        </div>
    </div>
    <div class="o-layout__row">
        <div class="c-form__label o-layout__item  u-1/3 u-1/1@xs">
            <label for="message">Message</label>
        </div>
        <div class="o-layout__item u-2/3 u-1/1@xs">
            <textarea class="c-form__textarea" rows="10" cols="40" id="message" name="message">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
            {{ message is defined and message ? _self.errorList(message.getErrors('message')) }}
        </div>
    </div>
    <div class="o-layout__row" style="display: none">
        <div class="c-form__label o-layout__item u-1/3 u-1/1@xs">
            <label for="home-address">home address</label>
        </div>
        <div class="o-layout__item u-2/3 u-1/1@xs">
            <input id="home-address" name="home-address" type="text">
        </div>
        <input type="hidden" name="spamguard[emailField]" value="fromEmail">
        <input type="hidden" name="spamguard[fromName]" value="fromName">
        <input type="hidden" name="spamguard[contentField]" value="message">
    </div>
    <div class="o-layout__row">
        <div class="c-form__label o-layout__item u-1/3 u-1/1@xs u-flex-align-top">
        </div>
        <div class="o-layout__item u-2/3 u-1/1@xs u-text-left">
            <input class="c-form__btn c-btn c-btn--no-margin c-btn--dark" type="submit" value="Send">
        </div>
    </div>
</form>

{% macro errorList(errors) %}
    {% if errors %}
        <ul class="form__errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
