{% cache globally %}
<footer class="o-layout u-text-center@sm">
    <div class="o-layout__section-intro u-text-center">
        <ul class="c-icon-list o-layout__row">
            {% for link in footer.links %}
                <li class="c-icon-list__item o-layout__item u-1/3 u-1/1@sm">
                    {% set url =  link.target.first().url %}
                    {% set class = 'contact-icartons' in url ? ' no-barba' : '' %}
                    <a href="{{ url }}" class="c-icon-list__link{{ class }}">
                        <div class="c-icon-list__icon">
                            {{ craft.inlin.er(link.setIcon.first().url(), true) | raw }}
                        </div>
                        <h3 class="c-icon-list__heading">{{ link.label }}</h3>
                        <p class="c-icon-list__description u-hidden@sm">{{ link.shortDescription }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="c-copyright-footer o-layout__row">
        <div class="o-layout__item u-1/4 u-1/1@sm">
            <img src="{{ footer.icon.first().url() }}" alt="iCartons smart packaging" class="c-copyright-footer__logo">
        </div>
        <div class="o-layout__item u-1/2 u-1/1@sm">
            {{ footer.body|firstTag('c-copyright-footer__description','p') }}
        </div>
        <ul class="c-media-buttons o-layout__item u-1/4 u-1/1@sm u-text-center@sm">
            {% if seomaticHelper.linkedInUrl %}
            <li class="c-media-buttons__button">
                <a href="{{ seomaticHelper.linkedInUrl }}" class="c-media-buttons__link c-media-buttons__link--linkedin"></a>
            </li>
            {% endif %}
            {% if seomaticHelper.youtubeChannelUrl %}
            <li class="c-media-buttons__button">
                <a href="{{ seomaticHelper.youtubeChannelUrl }}" class="c-media-buttons__link c-media-buttons__link--youtube"></a>
            </li>
            {% endif %}
            {% if seomaticHelper.googlePlusUrl %}
            <li class="c-media-buttons__button">
                <a href="{{ seomaticHelper.googlePlusUrl }}" class="c-media-buttons__link c-media-buttons__link--googleplus"></a>
            </li>
            {% endif %}
            {% if seomaticHelper.facebookUrl %}
            <li class="c-media-buttons__button">
                <a href="{{ seomaticHelper.facebookUrl }}" class="c-media-buttons__link c-media-buttons__link--facebook"></a>
            </li>
            {% endif %}
        </ul>
    </div>
</footer>
{% endcache %}