{% macro addNodeToNavigation(node, index) %}

    {%- set nodeClasses = [] -%}
    {%- set rootClass = 'c-menu__item' -%}
    {%- if node.hasChildren -%}
        {%- set nodeClasses = nodeClasses|merge(['has-children']) -%}
    {%- endif -%}
    {%- if node.active or node.hasActiveChild -%}
        {%- set rootClass = 'c-menu__item-active' -%}
    {%- endif -%}
    {%- if node.level == 1 and index == 1 -%}
        {%- set nodeClasses = nodeClasses|merge(['first']) -%}
    {%- endif -%}
    {%- if node.listClass|length -%}
        {%- set nodeClasses = nodeClasses|merge([node.listClass]) -%}
    {%- endif -%}


    <li class="{{ rootClass }} {% if nodeClasses|length %}{{ nodeClasses|join(' ') }}{% endif %}">
        <a href="{{ node.url }}" class="c-menu__link {{ nodeClasses|join(' ') }}"
           title="{{ node.name }}"{% if node.blank %} target="_blank"{% endif %}>{{ node.name }}</a>
        {% if node.hasChildren %}{% endif %}
    </li>
{% endmacro %}

{% cache %}
{% set nav = craft.amNav.getNavRaw("mainMenu") %}
<ul class="c-menu">
    {% for node in nav %}
        {{ _self.addNodeToNavigation(node, loop.index) }}
    {% endfor %}
</ul>
{% endcache %}
