{% macro paginator(pageInfo) %}
    {%  if pageInfo.totalPages > 1 %}
        <div class="o-layout__row t-gray-bg">
            <ul class="c-pagination u-text-center">
                {% if pageInfo.prevUrl %}<li class="c-pagination__item c-pagination__item"><a href="{{ pageInfo.prevUrl }}" class="c-pagination__link c-pagination__link--prev"></a></li>{% endif %}
                {% for page, url in pageInfo.getPrevUrls(5) %}
                <li class="c-pagination__item"><a href="{{ url }}" class="c-pagination__link">{{ page }}</a></li>
                {% endfor %}
                <li class="c-pagination__item c-pagination__item--active"><a href="#" class="c-pagination__link">{{ pageInfo.currentPage }}</a></li>
                {% for page, url in pageInfo.getNextUrls(5) %}
                    <li class="c-pagination__item"><a href="{{ url }}" class="c-pagination__link">{{ page }}</a></li>
                {% endfor %}
                {% if pageInfo.nextUrl %}<li class="c-pagination__item c-pagination__item"><a href="{{ pageInfo.nextUrl }}" class="c-pagination__link c-pagination__link--next"></a></li>{% endif %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}