<div class="o-layout__section-intro u-text-center">
    {% if entry.selectIndustries | length %}
        <h2 class="c-heading-title">Related Industries</h2>
        {% for row in entry.selectIndustries|batch(4) %}
            <ul class="c-icon-list o-layout__row">
                {% for industry in row %}
                    {% if industry %}
                        <li class="c-icon-list__item o-layout__item u-1/4 u-1/1@sm">
                            <a href="{{ industry.url }}" class="c-icon-list__link">
                                <div class="c-industry__image">
                                    {{ craft.inlin.er(industry.setIcon.first().url(), true) | raw }}
                                </div>
                                <h3 class="c-icon-list__heading">{{ industry.title }}</h3>
                                <p class="c-icon-list__description u-hidden@sm">{{ industry.shortDescription }}</p>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}

    {% if entry.selectSolutions | length %}
        <h2 class="c-heading-title">Related Solutions</h2>
        {% for row in entry.selectSolutions|batch(4) %}
            <ul class="c-icon-list o-layout__row">
                {% for solution in row %}
                    {% if solution %}
                        <li class="c-icon-list__item o-layout__item u-1/4 u-1/1@sm">
                            <a href="{{ solution.url }}" class="c-icon-list__link">
                                <div class="c-industry__image">
                                    {{ craft.inlin.er(solution.setIcon.first().url(), true) | raw }}
                                </div>
                                <h3 class="c-icon-list__heading">{{ solution.title }}</h3>
                                <p class="c-icon-list__description u-hidden@sm">{{ solution.shortDescription }}</p>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}

</div>