<title>{% if craft.config.devMode %}[devMode] {% endif %}{% if seomaticSiteMeta.siteSeoTitlePlacement == "before" %}{{ seomaticSiteMeta.siteSeoName |raw }}{% if seomaticMeta.seoTitle %} {{ seomaticSiteMeta.siteSeoTitleSeparator }} {% endif %}{% endif %}{{ seomaticMeta.seoTitle |raw }}{% if seomaticSiteMeta.siteSeoTitlePlacement == "after" %}{% if seomaticMeta.seoTitle %} {{ seomaticSiteMeta.siteSeoTitleSeparator }} {% endif %}{{ seomaticSiteMeta.siteSeoName |raw }}{% endif %}</title>
    <meta name="referrer" content="always" />
{% if seomaticMeta.robots is defined and seomaticMeta.robots %}
    <meta name="robots" content="{{ seomaticMeta.robots |raw }}" />
{% endif %}
    <meta name="keywords" content="{{ seomaticMeta.seoKeywords |raw }}" />
    <meta name="description" content="{{ seomaticMeta.seoDescription |raw }}" />
    <link rel="canonical" href="{{ seomaticMeta.canonicalUrl }}" />
{% for locale in craft.i18n.getSiteLocales() %}
    {% if locale != craft.locale and craft.config.siteUrl is iterable %}{% if craft.config.siteUrl[locale.getId()] is defined %}<link rel="alternate" hreflang="{{ locale.getId() }}" href="{{ craft.config.siteUrl[locale.getId()] }}" />{% endif%}{% endif %}
{% endfor %}
{% if seomaticIdentity.address.addressRegion is defined and seomaticIdentity.address.addressRegion %}
    <meta name="geo.region" content="{{ seomaticIdentity.address.addressRegion |raw }}" />
{% endif %}
{% if seomaticIdentity.location.geo.latitude is defined and seomaticIdentity.location.geo.latitude and seomaticIdentity.location.geo.latitude is defined and seomaticIdentity.location.geo.latitude %}
<meta name="geo.position" content="{{ seomaticIdentity.location.geo.latitude |raw }},{{ seomaticIdentity.location.geo.longitude |raw }}" />
    <meta name="ICBM" content="{{ seomaticIdentity.location.geo.latitude |raw }},{{ seomaticIdentity.location.geo.longitude |raw }}" />
{% endif %}
{% if seomaticIdentity.location.name is defined and seomaticIdentity.location.name %}
    <meta name="geo.placename" content="{{ seomaticIdentity.location.name |raw }}" />
{% endif %}
    <meta name="dcterms.Identifier" content="{{ seomaticMeta.canonicalUrl }}" />
    <meta name="dcterms.Format" content="text/html" />
    <meta name="dcterms.Relation" content="{{ seomaticSiteMeta.siteSeoName |raw }}" />
    <meta name="dcterms.Language" content="{{ craft.locale }}" />
    <meta name="dcterms.Publisher" content="{{ seomaticSiteMeta.siteSeoName |raw }}" />
    <meta name="dcterms.Type" content="text/html" />
    <meta name="dcterms.Coverage" content="{{ siteUrl }}" />
    <meta name="dcterms.Rights" content="{{ seomaticHelper.ownerCopyrightNotice |raw }}" />
    <meta name="dcterms.Title" content="{{ seomaticMeta.seoTitle |raw }}" />
{% if seomaticCreator.name is defined and seomaticCreator.name %}
    <meta name="dcterms.Creator" content="{{ seomaticCreator.name |raw }}" />
{% endif %}
    <meta name="dcterms.Subject" content="{{ seomaticMeta.seoKeywords |raw }}" />
    <meta name="dcterms.Contributor" content="{{ seomaticSiteMeta.siteSeoName |raw }}" />
    <meta name="dcterms.Date" content="{{ now | date('Y-m-d') }}" />
    <meta name="dcterms.Description" content="{{ seomaticMeta.seoDescription |raw }}" />

{%- if seomaticMeta.og is defined and seomaticMeta.og -%}
    {%- if seomaticSocial.facebookProfileId -%}
<meta property="fb:profile_id" content="{{ seomaticSocial.facebookProfileId |raw }}" />
    {% endif %}

    {% for key, value in seomaticMeta.og %}{%- if value -%}{%- if value is iterable %}{% for subvalue in value -%}<meta property="og:{{ key }}" content="{{ subvalue }}" />{%- endfor -%}{% else %}<meta property="og:{{ key }}" content="{{ value }}" />
{% endif %}
    {% endif %}
{% endfor %}
{% endif %}

{% if seomaticMeta.twitter is defined and seomaticMeta.twitter %}
    {% for key, value in seomaticMeta.twitter %}
        {% if value %}
            <meta property="twitter:{{ key }}" content="{{ value }}" />
        {% endif %}
    {% endfor %}
{% endif %}
{% if seomaticSocial.googlePlusHandle %}
    <link rel="publisher" href="{{ seomaticHelper.googlePlusUrl }}" />
{% endif %}
    <link type="text/plain" rel="author" href="/humans.txt" />
{% if seomaticHelper.ownerGoogleSiteVerification %}
    <meta name="google-site-verification" content="{{ seomaticHelper.ownerGoogleSiteVerification |raw }}" />
{% endif %}

{{ craft.seomatic.renderIdentity() |raw }}
{{ craft.seomatic.renderWebsite() |raw }}
{{ craft.seomatic.renderPlace() |raw }}
{% if not craft.config.devMode and not craft.request.isLivePreview %}{{ craft.seomatic.renderGoogleAnalytics() |raw }}{% endif %}